{% extends 'index.html' %}
{% load static %}

{% block title %}
audit
{% endblock title %}

{% block container %}
<div class="container">
  <form method="GET">
    <label for="date1">Дата 1:</label>
    <input type="date" name="date1" id="date1">
    <br>
    <label for="date2">Дата 2:</label>
    <input type="date" name="date2" id="date2">
    <br>
    <label for="dict">Форма 1:</label>
    <input type="text" name="dict" id="dict">
    <br>
    <label for="dict_type">Форма 2:</label>
    <input type="text" name="dict_type" id="dict_type">
    <br>
    <button type="submit">Сгенерировать отчет</button>
  </form>
</div>

  
 {% endblock container %}